body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Kolker brush', cursive;
    font-size: 72px;
    line-height: 0.4em;
}

button {
    padding: 8px 16px;
    font-family: helvetica, sans-serif;
    font-size: 18px;
}

.grid-container {
    margin-top: 36px;
    height: 960px;
    width: 960px;
    flex-direction: column;
}

.grid-container,
.grid-row {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.grid {
    flex: 1;
}

.grid-item {
    background-color: hsl(252, 9%, 90%);
}

.hovered-1 {
    background-color: hsl(275, 100%, 90%);
}

.hovered-2 {
    background-color: hsl(275, 100%, 80%);
}

.hovered-3 {
    background-color: hsl(275, 100%, 70%);
}

.hovered-4 {
    background-color: hsl(275, 100%, 60%);
}

.hovered-5 {
    background-color: hsl(275, 100%, 50%);
}

.hovered-6 {
    background-color: hsl(275, 100%, 40%);
}

.hovered-7 {
    background-color: hsl(275, 100%, 30%);
}

.hovered-8 {
    background-color: hsl(275, 100%, 20%);
}

.hovered-9 {
    background-color: hsl(275, 100%, 10%);
}